In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
data.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [4]:
le_gender = LabelEncoder()
data['Gender'] = le_gender.fit_transform(data['Gender'])

In [5]:
ohe_geography = OneHotEncoder(handle_unknown='ignore')
geo_encoded = ohe_geography.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=ohe_geography.get_feature_names_out(['Geography']))

In [6]:
data.drop(['Geography'],axis=1,inplace=True)
data = pd.concat([data,geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [28]:
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [9]:
## Save the encoders and sscaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(le_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(ohe_geography,file)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

print(X_train[:5], y_train[:5])
print("---------------------------------")
print(X_test[:5], y_test[:5])

[[ 0.35649971  0.91324755 -0.6557859   0.34567966 -1.21847056  0.80843615
   0.64920267  0.97481699 -0.50857963  1.00150113 -0.57946723 -0.57638802]
 [-0.20389777  0.91324755  0.29493847 -0.3483691   0.69683765  0.80843615
   0.64920267  0.97481699 -0.50857963 -0.99850112  1.72572313 -0.57638802]
 [-0.96147213  0.91324755 -1.41636539 -0.69539349  0.61862909 -0.91668767
   0.64920267 -1.02583358  1.96626042 -0.99850112 -0.57946723  1.73494238]
 [-0.94071667 -1.09499335 -1.13114808  1.38675281  0.95321202 -0.91668767
   0.64920267 -1.02583358  1.96626042  1.00150113 -0.57946723 -0.57638802]
 [-1.39733684  0.91324755  1.62595257  1.38675281  1.05744869 -0.91668767
  -1.54035103 -1.02583358  1.96626042  1.00150113 -0.57946723 -0.57638802]] 9254    179093.26
1561    195978.86
1670     85891.02
6087    153080.40
6669     39488.04
Name: EstimatedSalary, dtype: float64
---------------------------------
[[-0.57749609  0.91324755 -0.6557859  -0.69539349  0.32993735  0.80843615
  -1.54035103 -1.02583358 -0.50857963 -0.99850112  1.72572313 -0.57638802]
 [-0.29729735  0.91324755  0.3900109  -1.38944225 -1.21847056  0.80843615
   0.64920267  0.97481699 -0.50857963  1.00150113 -0.57946723 -0.57638802]
 [-0.52560743 -1.09499335  0.48508334 -0.3483691  -1.21847056  0.80843615
   0.64920267 -1.02583358 -0.50857963 -0.99850112 -0.57946723  1.73494238]
 [-1.51149188  0.91324755  1.91116988  1.03972843  0.68927246  0.80843615
   0.64920267  0.97481699 -0.50857963 -0.99850112  1.72572313 -0.57638802]
 [-0.9510944  -1.09499335 -1.13114808  0.69270405  0.78283876 -0.91668767
   0.64920267  0.97481699 -0.50857963 -0.99850112 -0.57946723  1.73494238]] 6252     41788.37
4684    146379.30
1731     58561.31
4742    170679.74
4521    114669.79
Name: EstimatedSalary, dtype: float64

In [30]:
## ANN Regression Problem

import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Input
from keras.callbacks import EarlyStopping, TensorBoard

In [42]:
input_shape = (X_train.shape[1],)

model = Sequential([
    Input(shape=input_shape),
    Dense(64,activation='relu'),
    Dense(32,activation='relu'),
    Dense(1) #Output layer for regression with default activation as linear
])

model.compile(optimizer='adam',loss='mse',metrics=['mse'])

In [43]:
model.summary()

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_15 (Dense)                │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_16 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_17 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [44]:
import datetime

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [45]:
early_stop = EarlyStopping(monitor='val_loss', patience=5, restore_best_weights=True)

In [46]:
history = model.fit(X_train, y_train, epochs=100, batch_size=32, validation_split=0.2, callbacks=[early_stop,tensorboard_callback])

Epoch 1/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 13308822528.0000 - mse: 13308822528.0000 - val_loss: 13698983936.0000 - val_mse: 13698983936.0000
Epoch 2/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 13244000256.0000 - mse: 13244000256.0000 - val_loss: 13564605440.0000 - val_mse: 13564605440.0000
Epoch 3/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 13005140992.0000 - mse: 13005140992.0000 - val_loss: 13200073728.0000 - val_mse: 13200073728.0000
Epoch 4/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 12498809856.0000 - mse: 12498809856.0000 - val_loss: 12533806080.0000 - val_mse: 12533806080.0000
Epoch 5/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 11685196800.0000 - mse: 11685196800.0000 - val_loss: 11558809600.0000 - val_mse: 11558809600.0000
Epoch 6/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 10587359232.0000 - mse: 10587359232.0000 - val_loss: 10322552832.0000 - val_mse: 10322552832.0000
Epoch 7/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 9284726784.0000 - mse: 9284726784.0000 - val_loss: 8931368960.0000 - val_mse: 8931368960.0000
Epoch 8/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 7901744128.0000 - mse: 7901744128.0000 - val_loss: 7526610944.0000 - val_mse: 7526610944.0000
Epoch 9/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 6587781632.0000 - mse: 6587781632.0000 - val_loss: 6248988672.0000 - val_mse: 6248988672.0000
Epoch 10/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 5470412800.0000 - mse: 5470412800.0000 - val_loss: 5209899520.0000 - val_mse: 5209899520.0000
Epoch 11/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4628242944.0000 - mse: 4628242944.0000 - val_loss: 4458381824.0000 - val_mse: 4458381824.0000
Epoch 12/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 4068530944.0000 - mse: 4068530944.0000 - val_loss: 3982668800.0000 - val_mse: 3982668800.0000
Epoch 13/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3741696000.0000 - mse: 3741696000.0000 - val_loss: 3707748352.0000 - val_mse: 3707748352.0000
Epoch 14/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3570676480.0000 - mse: 3570676480.0000 - val_loss: 3562770944.0000 - val_mse: 3562770944.0000
Epoch 15/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3487613952.0000 - mse: 3487613952.0000 - val_loss: 3487423232.0000 - val_mse: 3487423232.0000
Epoch 16/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3447190016.0000 - mse: 3447190016.0000 - val_loss: 3448987392.0000 - val_mse: 3448987392.0000
Epoch 17/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3423885824.0000 - mse: 3423885824.0000 - val_loss: 3424577536.0000 - val_mse: 3424577536.0000
Epoch 18/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3408749568.0000 - mse: 3408749568.0000 - val_loss: 3406924288.0000 - val_mse: 3406924288.0000
Epoch 19/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3397314560.0000 - mse: 3397314560.0000 - val_loss: 3395781632.0000 - val_mse: 3395781632.0000
Epoch 20/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3387970048.0000 - mse: 3387970048.0000 - val_loss: 3386481664.0000 - val_mse: 3386481664.0000
Epoch 21/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3380164352.0000 - mse: 3380164352.0000 - val_loss: 3378766592.0000 - val_mse: 3378766592.0000
Epoch 22/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3373089536.0000 - mse: 3373089536.0000 - val_loss: 3371592192.0000 - val_mse: 3371592192.0000
Epoch 23/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3367169792.0000 - mse: 3367169792.0000 - val_loss: 3367327488.0000 - val_mse: 3367327488.0000
Epoch 24/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3361556736.0000 - mse: 3361556736.0000 - val_loss: 3361959424.0000 - val_mse: 3361959424.0000
Epoch 25/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3356471552.0000 - mse: 3356471552.0000 - val_loss: 3357881856.0000 - val_mse: 3357881856.0000
Epoch 26/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3352194560.0000 - mse: 3352194560.0000 - val_loss: 3355875840.0000 - val_mse: 3355875840.0000
Epoch 27/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3347871488.0000 - mse: 3347871488.0000 - val_loss: 3351156480.0000 - val_mse: 3351156480.0000
Epoch 28/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3344286464.0000 - mse: 3344286464.0000 - val_loss: 3350289152.0000 - val_mse: 3350289152.0000
Epoch 29/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3340946432.0000 - mse: 3340946432.0000 - val_loss: 3347157504.0000 - val_mse: 3347157504.0000
Epoch 30/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3337729536.0000 - mse: 3337729536.0000 - val_loss: 3343966976.0000 - val_mse: 3343966976.0000
Epoch 31/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3334932992.0000 - mse: 3334932992.0000 - val_loss: 3340935936.0000 - val_mse: 3340935936.0000
Epoch 32/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3332277504.0000 - mse: 3332277504.0000 - val_loss: 3339988736.0000 - val_mse: 3339988736.0000
Epoch 33/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3329927168.0000 - mse: 3329927168.0000 - val_loss: 3339023872.0000 - val_mse: 3339023872.0000
Epoch 34/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3327578880.0000 - mse: 3327578880.0000 - val_loss: 3336195328.0000 - val_mse: 3336195328.0000
Epoch 35/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3325567232.0000 - mse: 3325567232.0000 - val_loss: 3335152896.0000 - val_mse: 3335152896.0000
Epoch 36/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3323540992.0000 - mse: 3323540992.0000 - val_loss: 3333691136.0000 - val_mse: 3333691136.0000
Epoch 37/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3322115584.0000 - mse: 3322115584.0000 - val_loss: 3332999680.0000 - val_mse: 3332999680.0000
Epoch 38/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3320683008.0000 - mse: 3320683008.0000 - val_loss: 3330871040.0000 - val_mse: 3330871040.0000
Epoch 39/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3318340096.0000 - mse: 3318340096.0000 - val_loss: 3330122496.0000 - val_mse: 3330122496.0000
Epoch 40/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3317187840.0000 - mse: 3317187840.0000 - val_loss: 3329824512.0000 - val_mse: 3329824512.0000
Epoch 41/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3315708928.0000 - mse: 3315708928.0000 - val_loss: 3329127936.0000 - val_mse: 3329127936.0000
Epoch 42/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3314166272.0000 - mse: 3314166272.0000 - val_loss: 3328924672.0000 - val_mse: 3328924672.0000
Epoch 43/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3313111808.0000 - mse: 3313111808.0000 - val_loss: 3326544384.0000 - val_mse: 3326544384.0000
Epoch 44/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3311905792.0000 - mse: 3311905792.0000 - val_loss: 3327145728.0000 - val_mse: 3327145728.0000
Epoch 45/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3310936320.0000 - mse: 3310936320.0000 - val_loss: 3325972224.0000 - val_mse: 3325972224.0000
Epoch 46/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3309646848.0000 - mse: 3309646848.0000 - val_loss: 3326168576.0000 - val_mse: 3326168576.0000
Epoch 47/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3308513280.0000 - mse: 3308513280.0000 - val_loss: 3324806400.0000 - val_mse: 3324806400.0000
Epoch 48/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3308022016.0000 - mse: 3308022016.0000 - val_loss: 3324285440.0000 - val_mse: 3324285440.0000
Epoch 49/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3306932224.0000 - mse: 3306932224.0000 - val_loss: 3323978752.0000 - val_mse: 3323978752.0000
Epoch 50/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3306215168.0000 - mse: 3306215168.0000 - val_loss: 3323982848.0000 - val_mse: 3323982848.0000
Epoch 51/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3305087744.0000 - mse: 3305087744.0000 - val_loss: 3323848704.0000 - val_mse: 3323848704.0000
Epoch 52/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3304373248.0000 - mse: 3304373248.0000 - val_loss: 3322408704.0000 - val_mse: 3322408704.0000
Epoch 53/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3303382272.0000 - mse: 3303382272.0000 - val_loss: 3322632960.0000 - val_mse: 3322632960.0000
Epoch 54/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 3302671104.0000 - mse: 3302671104.0000 - val_loss: 3321962752.0000 - val_mse: 3321962752.0000
Epoch 55/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3302441984.0000 - mse: 3302441984.0000 - val_loss: 3321963776.0000 - val_mse: 3321963776.0000
Epoch 56/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3301366784.0000 - mse: 3301366784.0000 - val_loss: 3322479872.0000 - val_mse: 3322479872.0000
Epoch 57/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3300691712.0000 - mse: 3300691712.0000 - val_loss: 3322910464.0000 - val_mse: 3322910464.0000
Epoch 58/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3299756032.0000 - mse: 3299756032.0000 - val_loss: 3321902592.0000 - val_mse: 3321902592.0000
Epoch 59/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3299601664.0000 - mse: 3299601664.0000 - val_loss: 3321743872.0000 - val_mse: 3321743872.0000
Epoch 60/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3298778880.0000 - mse: 3298778880.0000 - val_loss: 3321699328.0000 - val_mse: 3321699328.0000
Epoch 61/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3298183680.0000 - mse: 3298183680.0000 - val_loss: 3321477120.0000 - val_mse: 3321477120.0000
Epoch 62/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3297944320.0000 - mse: 3297944320.0000 - val_loss: 3321083392.0000 - val_mse: 3321083392.0000
Epoch 63/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3297314304.0000 - mse: 3297314304.0000 - val_loss: 3320508160.0000 - val_mse: 3320508160.0000
Epoch 64/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3296910336.0000 - mse: 3296910336.0000 - val_loss: 3321441792.0000 - val_mse: 3321441792.0000
Epoch 65/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3296036352.0000 - mse: 3296036352.0000 - val_loss: 3319671296.0000 - val_mse: 3319671296.0000
Epoch 66/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3295748864.0000 - mse: 3295748864.0000 - val_loss: 3321154816.0000 - val_mse: 3321154816.0000
Epoch 67/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 3295056384.0000 - mse: 3295056384.0000 - val_loss: 3320082944.0000 - val_mse: 3320082944.0000
Epoch 68/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3294881280.0000 - mse: 3294881280.0000 - val_loss: 3320651008.0000 - val_mse: 3320651008.0000
Epoch 69/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3294133248.0000 - mse: 3294133248.0000 - val_loss: 3321255424.0000 - val_mse: 3321255424.0000
Epoch 70/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3293686784.0000 - mse: 3293686784.0000 - val_loss: 3320451328.0000 - val_mse: 3320451328.0000

In [18]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [47]:
%reload_ext tensorboard

In [48]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6007 (pid 25252), started 0:10:04 ago. (Use '!kill 25252' to kill it.)

In [49]:
test_loss, test_mse = model.evaluate(X_test, y_test)
print('Test Loss:', test_loss)
print('Test Mean Squared Error:', test_mse)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 833us/step - loss: 3370025216.0000 - mse: 3370025216.0000
Test Loss: 3370025216.0
Test Mean Squared Error: 3370025216.0